Repository strangetom/ingredient-parser: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check-ts-js, biome-check-css

.pre-commit-config.yaml:

---
# See https://pre-commit.com/hooks.html for info on hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: (base:repo) debug-statements
        args: ['--maxkb=5000']
        stages: [pre-commit]
      - id: check-ast
        name: (base:repo) check-ast
        stages: [pre-commit]
      - id: check-toml
        name: (base:repo) check-toml
        stages: [pre-commit]
      - id: check-yaml
        name: (base:repo) check-yaml
        stages: [pre-commit]
      - id: debug-statements
        name: (base:repo) debug-statements
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        name: (base:repo) ruff
        args: ["--fix"]
        stages: [pre-commit]
      - id: ruff-format
        name: (base:repo) ruff-format
        stages: [pre-commit]
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.0
    hooks:
      - id: sphinx-lint
        name: (docs:repo) sphinx-lint
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: biome-check-ts-js
        name: (webtools:repo) biome check typescript/javascript
        entry: npx @biomejs/biome check --write ./webtools/src --config-path=./webtools/biome.json --files-ignore-unknown=true --no-errors-on-unmatched
        language: node
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
        exclude: ^docs/
        require_serial: true
      - id: biome-check-css
        name: (webtools:repo) biome check css
        entry: npx @biomejs/biome check --write ./webtools/src --config-path=./webtools/biome.json --files-ignore-unknown=true --no-errors-on-unmatched
        language: node
        types: [text]
        files: "\\.(css?)$"
        exclude: ^docs/
        require_serial: true

Feature: Add Flour/NN to tagdict to stop Flour being given CD tag.
  ingredient_parser/en/data/ingredient_tagdict.json.gz
Due: none

Feature: Improve the detection of multi ingredient phrases.
  ingredient_parser/en/_structure_features.py
Due: none

Bugfix: Fix test and mark as model dependent.
  tests/parser/test_prepared_ingredient.py
Due: none

Tests: Update sentence_features test.
  tests/preprocess/test_preprocess.py
Due: none

Bugfix: Correctly mark plurals when evaluating PostProcessor outputs.
  train/train_model.py
  train/training_eval.py
Due: none

Chore: Remove debugging code
  train/training_eval.py
Due: none

Feature: Discard identified sentence splits locations if the preceding token is a unit or size.
  ingredient_parser/en/_structure_features.py
  tests/preprocess/test_sentence_structure_features.py
Due: none

Bugfix: Define unit_sizes before we use it.....
  ingredient_parser/en/_structure_features.py
Due: none

Feature: Rewrite test result HTML output to use jinja template instead of crafting HTML by code.
  train/test_results_to_html.py
  train/viz/test_results.css
  train/viz/test_results.html.jinja
  train/viz/test_results.js
Due: biome-check-ts-js, biome-check-css

Feature: Update style of HTML output to more closely align with webtools.
  train/viz/test_results.css
  train/viz/test_results.html.jinja
  train/viz/test_results.js
Due: biome-check-ts-js, biome-check-css

Bugfix: Fix some issues with test results HTML style.
  train/viz/test_results.css
  train/viz/test_results.html.jinja
Due: biome-check-css

Lint: Fix some biome errors.
  train/viz/test_results.css
  train/viz/test_results.js
Due: biome-check-ts-js, biome-check-css

Bugfix: Fix incorrect comparison
  train/viz/test_results.js
Due: biome-check-ts-js

Bugfix: Fix spacing of filter checkboxes
  train/viz/test_results.css
Due: biome-check-css

Feature: Show source when hovering over sentence ID in labeller in webtools
  webtools/src/components/Shared/LabellerSentence/LabellerSentence.tsx
Due: biome-check-ts-js

Chore: Update package-lock for webtools.
  webtools/package-lock.json
Due: biome-check-ts-js

Bugfix: Fix sentence counts not updating after deselecting source from test results filter.
  train/viz/test_results.html.jinja
  train/viz/test_results.js
Due: biome-check-ts-js

Feature: Add "stem" to ambiguous units list.
  ingredient_parser/en/_constants.py
Due: none

Bugfix: Fix incorrect comparator.
  train/viz/test_results.js
Due: biome-check-ts-js

Bugfix: Fix fraction that is part of a token (.e.g "1/2-part") not being converted from the intermediate form during post-processing.
  ingredient_parser/en/_regex.py
  tests/postprocess/test_postprocess.py
Due: none

Feature: Treat "No. 1" and similar as a single token.
  ingredient_parser/en/_utils.py
  tests/preprocess/test_tokenize.py
Due: none

Bugfix: Don't apply an implicit quantity of 1 for the QTY UNIT UNIT pattern if the last UNIT is plural.
  ingredient_parser/en/postprocess.py
  tests/postprocess/test_sizeable_unit_pattern.py
Due: none

Feature: Add romano/NN and Romano/NNP to tadgict
  ingredient_parser/en/data/ingredient_tagdict.json.gz
Due: none

Bugfix: Fix various label errors in training data.
  train/data/training.sqlite3
Due: none

Tests: Mock tests for expect_name_in_output keyword argument so the tests don't stop working if the model is updated and the example used no longer exhibits the expected behaviour.
  tests/parser/test_expect_name_in_output.py
Due: none

Refactor: Refactor _is_unit and _is_ambigious_unit to take an index instead of token text in preparation for improving ambiguous unit detection.
  ingredient_parser/dataclasses.py
  ingredient_parser/en/preprocess.py
  tests/preprocess/test_features.py
Due: none

Bugfix: If a unit contains " or ', don't look in pint registry because we won't find a match and it causes a TokenError when pint tries to parse it.
  ingredient_parser/en/_utils.py
  tests/test_utils.py
Due: none

Feature: Add new training data with examples that contain tokens that use " to mean inches.
  train.py
  train/data/allrecipes/allrecipes-ingredients-snapshot-2017.csv
  train/data/bbc/bbc-ingredients-snapshot-2017.csv
  train/data/bonappetit/ba-ingredients.csv
  train/data/cookstr/cookstr-ingredients-snapshot-2017.csv
  train/data/db_to_csv.py
  train/data/manual/manual-ingredients.csv
  train/data/nytimes/nyt-ingredients-snapshot-2015.csv
  train/data/tastecooking/tastecooking-ingredients-snapshot-2024.csv
  train/data/training.sqlite3
  webtools/src/components/PageTabLabeller/PrefabExamplesLabellerSource/publishers.ts
  webtools/src/domain/collections/collectionPublisherSources.ts
  webtools/src/domain/collections/collectionsPrefabPublishers.ts
  webtools/src/domain/collections/sources.ts
  webtools/src/domain/store/tabLabellerStore.tsx
Due: biome-check-ts-js

Feature: Add new feature: ends_with_inch_symbol
  ingredient_parser/en/_regex.py
  ingredient_parser/en/preprocess.py
Due: none

Bugfix: Fix labelling errors in training data.
  train/data/training.sqlite3
Due: none

Feature: Add pound to list of ambiguous units (i.e. "pound cake")
  ingredient_parser/en/_constants.py
Due: none

Bugfix: Add missing change as part of ecbefb684c6cf8ef122cf782fef2fa3f2e0274c4
  ingredient_parser/dataclasses.py
Due: none

Feature: Add new feature to identify the clause of a multi-ingredient phrase a token falls in.
  ingredient_parser/en/_structure_features.py
  tests/preprocess/test_preprocess.py
  tests/preprocess/test_sentence_structure_features.py
Due: none

Feature: Add new model.
  README.md
  docs/source/_static/diagrams/performance-history.svg
  ingredient_parser/en/data/ModelCard.en.md
  ingredient_parser/en/data/model.en.json
  ingredient_parser/en/data/model.en.json.gz
  train/data/bonappetit/README.md
  train/performance_history.csv
Due: biome-check-ts-js

Bugfix: Make is_dimension more specific for the cases of tokens ending with a dimension.
  ingredient_parser/en/preprocess.py
  tests/preprocess/test_features.py
Due: none

Bugfix: Fix some more label errors in training data.
  train/data/allrecipes/allrecipes-ingredients-snapshot-2017.csv
  train/data/bbc/bbc-ingredients-snapshot-2017.csv
  train/data/bonappetit/ba-ingredients.csv
  train/data/cookstr/cookstr-ingredients-snapshot-2017.csv
  train/data/nytimes/nyt-ingredients-snapshot-2015.csv
  train/data/tastecooking/tastecooking-ingredients-snapshot-2024.csv
Due: none

Bugfix: Fix some more label errors in training data.
  train/data/training.sqlite3
Due: none

Feature: Add within_mip_clause_0 feature.
  ingredient_parser/en/_structure_features.py
  tests/preprocess/test_sentence_structure_features.py
Due: none

Chore: Log start time for grid search and feature search.
  train/featuresearch.py
  train/gridsearch.py
Due: none

Bugfix: Fix some more label errors in training data.
  train/data/bbc/bbc-ingredients-snapshot-2017.csv
  train/data/cookstr/cookstr-ingredients-snapshot-2017.csv
  train/data/nytimes/nyt-ingredients-snapshot-2015.csv
  train/data/tastecooking/tastecooking-ingredients-snapshot-2024.csv
  train/data/training.sqlite3
Due: none
